.section {
  margin: 0.5rem;
  /* margin-top: 3rem; */
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 1rem; */
}

.heading {
  font-family: var(--ff-sectionHeading);
  font-size: var(--fs-heading2);
  color: var(--color-bright-red);
  -webkit-text-stroke: 3px var(--color-white);
  text-shadow: 0px 4px 10px rgb(253, 150, 150);
  text-align: center;
  max-width: 60%;
  margin: 7rem auto 5rem;
  /* outline: 1px solid red; */
  /* padding-bottom: 6rem; */
}

.heading:hover {
  text-shadow: 0px 4px 10px var(--color-yellow);
  color: var(--color-purple);
}

.imgDivisor {
  margin-top: 6rem;
  margin-bottom: 6rem;
  max-width: 20rem;
  /* width: 100%; */
}

.sectionBody {
  /* margin-top: 3rem; */
  /* margin-top: 10rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 3rem;
  /* Important for the cards */
  /* outline: 1px solid blue; */
}

@media (width > 600px) {
  .imgDivisor {
    display: none;
  }
}
