.waveSVG {
  position: absolute;
  left: 0;
  width: 100%;
  height: auto;
  /* fill: #fff;  */
  z-index: 999;
}
.top {
  top: -1px;
  transform: scale(1, -1);
}

.bottom {
  bottom: -1px;
  transform: scale(1, 1);
}

@media (width > 600px) {
  .bottom {
    bottom: -60px;
  }
}
