/* .imgDivisor {
  max-width: 10rem;
  width: 100vw;
  height: auto;
}

@media (width > 600px) {
  .imgDivisor {
    max-width: 19rem;
    width: 50vw;
  }
} */

.article {
  display: flex;
  margin-bottom: 0.5rem;
  gap: 0.1rem;
  justify-content: space-between;
}

.text {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
}

.smallerText {
  font-size: var(--fs-body-small);
}

.vegan {
  color: var(--color-green);
  font-weight: var(--fw-bold);
}

.sectionDivision {
  width: 100%;
  margin-bottom: 1rem;
}

.sectionHeading {
  font-family: var(--ff-body);
  font-weight: var(--fw-black);
  font-size: var(--fs-body);
  color: var(--color-purple);
  margin-bottom: 1rem;
}

.containerDrinks {
  display: flex;
  gap: 2rem;
}
