.article {
  display: flex;
  margin-bottom: 0.7rem;
  gap: 1rem;
  justify-content: space-between;
}

.text {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
}

.smallerText {
  font-size: var(--fs-body-small);
}

.vegan {
  color: var(--color-green);
  font-weight: var(--fw-bold);
}

.menuDivision {
  width: 100%;
  margin-bottom: 1rem;
}

.menuHeading {
  font-family: var(--ff-body);
  font-weight: var(--fw-black);
  font-size: var(--fs-body);
  color: var(--color-purple);
  margin-bottom: 1rem;
}

.containerDrinks {
  display: flex;
  gap: 2rem;
}
