button {
  border: none;
  box-shadow: 0px 0px 9.10959px 0px rgba(var(--color-yellow), 0.6);
  font-family: var(--ff-button);
  font-size: var(--fs-button);
  font-weight: var(--fw-black);
  border-radius: 25px;
  padding: 0.7em 1em;
  cursor: pointer;
  position: relative;
  z-index: 999;
}

.primary {
  background: rgb(var(--color-purple));
  color: rgb(var(--color-yellow));
}

.secondary {
  background: rgb(var(--color-yellow));
  color: rgb(var(--color-purple));
  font-weight: var(--fw-bold);
}
