button {
  /* border: 2px solid #fcb706; */
  border: none;
  box-shadow: 0px 0px 9.10959px 0px rgba(255, 174, 3, 0.6);
  font-family: var(--ff-button);
  font-size: var(--fs-button);
  font-weight: var(--fw-black);
  border-radius: 10px;
  padding: 0.7em 1em;
  /* min-width: 180px; */
}

.primary {
  background: #261e61;
  color: #fcb706;
}

.secondary {
  background: var(--color-yellow);
  color: var(--color-purple);
  font-weight: var(--fw-bold);
}
