.container {
  position: relative;
  z-index: 999;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem;
  position: fixed;
  top: -200px; /* Initially, hide the header above the viewport */
  z-index: 999;
  left: 0;
  right: 0;
  transition: top 250ms ease-in-out;

}

.logo {
  width: 3.2rem;
  height: auto;
}

.nav ul {
  display: none;
}

.hidden {
    visibility: hidden;
}

@media (width > 1000px) {
  .header {
    flex-direction: row;
  }

  .nav ul {
    display: flex;
    gap: 1.5rem;
    justify-content: space-around;
    padding: 0.5rem;

  }

  .nav li {
    color: rgb(var(--color-white));
    font-family: var(--ff-heading);
    font-size: var(--fs-heading4);
    /* text-shadow: 0px 4px 10px rgb(var(--color-yellow), 1); */
  }
   .logo {
    width: 2rem;
    height: auto;
    margin-left: 2rem;
  }
}

