.container {
  position: relative;
  z-index: 999;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem;
  position: fixed;
  top: -200px; /* Initially, hide the header above the viewport */
  z-index: 999;
  left: 0;
  right: 0;
  transition: top 250ms ease-in-out;
}

.logo {
  width: 3.2rem;
  height: auto;
}

.nav ul {
  display: none;
}

.hidden {
  visibility: hidden;
}

@media (width > 1000px) {
  .header {
    flex-direction: row;
  }

  .nav ul {
    display: flex;
    gap: 1.5rem;
    padding: 0.5rem;
  }

  .nav li {
    color: rgb(var(--color-white));
    font-family: var(--ff-heading);
    font-size: var(--fs-heading4);
    /* text-shadow: 0px 4px 10px rgb(var(--color-yellow), 1); */
  }
  .logo {
    width: 1.8rem;
    height: auto;
    /* outline: 1px solid yellow; */
    margin-left: 1rem;
    margin-right: 0.5rem;
  }
}



@media (width > 1700px) {
  .nav ul {
    display: flex;
    gap: 3rem;
    padding: 0.5rem;
    padding-top: 2rem;
  }

 .logo {
    width: 3rem;
    height: auto;
    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: 1rem;
  }
}
