.footer {
  background-image: linear-gradient(
    to right bottom,
    #ff0000,
    #f20202,
    #e50304,
    #d90505,
    #cc0606
  );
  padding: 3rem 0.5rem 0.5rem;
  position: relative;
}

.main_container {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  color: var(--color-white);
  margin: 1rem;
}

.divisor {
  align-self: center;
  width: 100%;
  height: 0.2rem;
  background: #fff5f5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.heading {
  font-size: var(--fs-section-title);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgba(250, 250, 250, 0.25);
}

.subheading {
  font-size: var(--fs-lg);
  font-weight: bold;
}

.schedule {
  text-align: left;
  font-size: var(--fs-md);
  font-family: var(--ff-body);
}

.schedule > tr {
  margin-bottom: 1rem;
}

.logo {
  position: absolute;
  width: 5rem;
  height: auto;
  right: 1rem;
  bottom: 1%;
}

.copyright {
  text-align: center;
  font-size: var(--fs-xs);
}

@media screen and (min-width: 600px) {
  .divisor {
    align-self: start;
    width: 50%;
  }
  .copyright {
    text-align: left;
  }
  .logo {
    position: absolute;
    width: 15rem;
    height: auto;
    right: 10rem;
  }
}
