.division {
  position: relative;
}

.footer {
  background-image: linear-gradient(
    to right bottom,
    #c80c0c,
    #d20b0b,
    #dc090a,
    #e70809,
    #f10607,
    #ee0506,
    #ec0505,
    #e90404,
    #d80404,
    #c80404,
    #b80404,
    #a80404
  );
  padding: 5rem 0.5rem;
  padding-top: 9rem;
  /* position: relative; */

}

.main_container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  color: rgb(var(--color-white));
  margin: 0.5rem 1rem;
  text-shadow: 3px 2px 3px rgb(var(--color-dark-red));
}

.heading1,
.heading2,
.heading3 {
  font-family: var(--ff-heading);
}

.heading1 {
  font-size: var(--fs-heading2);
}

.heading2 {
  font-size: var(--fs-heading3);
  font-weight: var(--fs-bold);
}

.heading3 {
  font-size: var(--fs-heading4);
  font-weight: var(--fs-bold);
  margin-bottom: -0.7rem;
}

.text {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  line-height: 1.5;
}

.text,
.copyright {
  font-weight: var(--fw-black);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.schedule {
  max-width: 1000px;
  text-align: left;
}

.schedule > tr {
  margin-bottom: 1rem;
}



.small {
  font-size: var(--fs-body-small);
}

.logo {
  position: absolute;
  width: 25%;
  max-width: 310px;
  height: auto;
  right: 5%;
  bottom: 2.5rem;
  margin-right: 1rem;
}

.copyright {
  font-family: var(--ff-body);
  font-size: var(--fs-copyright);
  text-align: left;
  margin-bottom: -1.5rem;
}

@media (width > 500px) {
  .footer {
    padding-top: 15rem;
  }
  .main_container {
    margin: 3rem;
    margin-bottom: 0;
    justify-content: center;
    padding-left: 5rem;
  }
}

@media (width > 1300px) {
  .footer {
    padding-top: 20rem;
  }
  .heading {
    margin-bottom: 3rem;
  }
  .text {
    line-height: 2;
  }
}
