/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: 'PaytoneOne';
  src: url(../assets/fonts/PaytoneOne/PaytoneOne-Regular.woff) format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url(../assets/fonts/Roboto/Roboto-Regular.woff) format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url(../assets/fonts/Roboto/Roboto-Bold.woff) format('woff');
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto';
  src: url(../assets/fonts/Roboto/Roboto-Black.woff) format('woff');
  font-weight: 900;
}

@font-face {
  font-family: 'Nerko One';
  src: url(../assets/fonts/NerkoOne/NerkoOne_Regular.woff) format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Rammetto One';
  src: url(../assets/fonts/RammettoOne/RammettoOne-Regular.woff2)
    format('woff2');
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*CSS VARIABLES*/
  --color-bright-red: 255, 23, 23;
  --color-red: 218, 0, 0;
  --color-dark-red: 128, 0, 0;
  --color-red-rgb: 218, 0, 0;
  --color-white: 255, 255, 255;
  --color-black: 0, 0, 0;
  /* --color-purple: rgb(38, 30, 97); */
  --color-purple: 38, 30, 97;
  /* --color-yellow: #ffae03; */
  --color-yellow: 255, 174, 3;
  --color-green: 6, 96, 4;
  --fs-xxl: 3.5rem; /*60px*/
  --fs-xl: 1.8rem; /*28.8px*/
  --fs-lg: 1.25rem; /*20px*/
  --fs-md: 1rem; /*16px*/
  --fs-sm: 0.87rem; /*14px*/
  --fs-xs: 0.62rem; /*10px*/
  --fs-xxs: 0.5rem; /*8px*/
  --fs-heading1: var(--fs-xxl);
  --fs-heading2: var(--fs-xl);
  --fs-heading3: var(--fs-lg);
  --fs-heading4: var(--fs-lg);
  --fs-body-lg: var(--fs-lg);
  --fs-body: var(--fs-md);
  --fs-body-small: var(--fs-sm);
  --fs-button: var(--fs-sm);
  --fs-copyright: var(--fs-xxs);
  --ff-heading: 'PaytoneOne';
  --ff-sectionHeading: 'Rammetto One';
  --ff-preHeading: 'Nerko One';
  --ff-body: 'Roboto';
  --ff-button: 'Roboto';
  --fw-bold: 700;
  --fw-black: 900;
  --bp-phones: 600px;
  --bp-tablet: 768px;
  --bp-laptops: 992px;
  --bp-large: 1200px;
  --typography-factor-md: 1.25;
  --typography-factor-lg: 1.6;
}

@media (width > 400px) {
  :root {
    --fs-heading1: calc(var(--fs-xxl) * var(--typography-factor-md));
    --fs-heading2: calc(var(--fs-xl) * var(--typography-factor-md));
    --fs-heading3: calc(var(--fs-lg) * var(--typography-factor-md));
    --fs-heading4: calc(var(--fs-lg) * var(--typography-factor-md));
    --fs-body: calc(var(--fs-md) * var(--typography-factor-md));
    --fs-body-small: calc(var(--fs-sm) * var(--typography-factor-md));
    --fs-button: calc(var(--fs-sm) * var(--typography-factor-md));
    --fs-copyright: calc(var(--fs-xxs) * var(--typography-factor-md));
  }
}

@media (width > 1300px) {
  :root {
    --fs-heading1: calc(var(--fs-xxl) * var(--typography-factor-lg));
    --fs-heading2: calc(var(--fs-xl) * var(--typography-factor-lg));
    --fs-heading3: calc(var(--fs-lg) * var(--typography-factor-lg));
    --fs-heading4: calc(var(--fs-lg) * var(--typography-factor-lg));
    --fs-body: calc(var(--fs-md) * var(--typography-factor-lg));
    --fs-body-small: calc(var(--fs-sm) * var(--typography-factor-lg));
    --fs-button: calc(var(--fs-sm) * var(--typography-factor-lg));
    --fs-copyright: calc(var(--fs-xxs) * var(--typography-factor-lg));
  }
}
