.menu_container {
  display: flex;
  justify-content: center;
  align-items:stretch;
  flex-wrap: wrap;
  gap:3rem;
  width: 100%;
}

@media (width> 1000px) {
  .menu_container{
    margin-top: 5rem;
    gap: 3rem;
  }
}